@model KVBchat_ASP.Models.User.UserEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "User", new { area = "" }, FormMethod.Post, null))
{
<div>
    @Html.HiddenFor(x=>x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Nickname):
        @Html.TextBoxFor(x => x.Nickname)
        @Html.ValidationMessageFor(x => x.Nickname)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName):
        @Html.TextBoxFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName):
        @Html.TextBoxFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Birthdate):
        @Html.EditorFor(x => x.Birthdate)
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>       
    </div>
</div>
}

