@model BusinessLogic.DTO.User.UserEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
<div>
    @Html.HiddenFor(x=>x.Id)
    <div>
        @Html.LabelFor(x => x.Nickname):
        @Html.TextBoxFor(x => x.Nickname)
    </div>
    <div>
        @Html.LabelFor(x => x.FirstName):
        @Html.TextBoxFor(x => x.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.MiddleName):
        @Html.TextBoxFor(x => x.MiddleName)
    </div>
    <div>
        @Html.LabelFor(x => x.ThirdName):
        @Html.TextBoxFor(x => x.ThirdName)
    </div>
    <div>
        @Html.LabelFor(x => x.Birthdate):
        @Html.TextBoxFor(x => x.Birthdate)
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>       
    </div>
</div>
}

