@model IEnumerable<BusinessLogic.DTO.Message.MessageViewModel>

@if (Model != null)
{
    <div>
        @foreach (var message in @Model)
        {
            <div>
                <div>
                    @Html.ValueFor(x => message.Sender):
                    @Html.ValueFor(x => message.Text)
                </div>
                <div>
                    @Html.ValueFor(x => message.IsRead)
                    @Html.ValueFor(x => message.Time)
                </div>
                <br/>
                @if (message.Files != null && message.Files.Count() > 0)
                {
                    foreach (var file in message.Files)
                    {
                        <div>
                            @Html.ActionLink(file.FileName, "DownloadFile", "Message", new { area="",fileName = file.FileName, fileId = file.FileId },null)
                        </div>
                    }

                }
            </div>
        }
    </div>
}

