@model BusinessLogic.DTO.Message.SendMessageViewModel
@{
    ViewBag.Title = "GroupMessages";
    
}

<h2>GroupMessages</h2>
<div>
    <div id="groupsId">

        @Html.Action("Groups", "Group", new { area = "" })

    </div>

    <div  class="col-sm-9 col-lg-10">
    <div id="MessageId">

    </div>
        <div>
            @using (@Ajax.BeginForm("SendMessage", "Message", new { area = "" }, new AjaxOptions
            {
                UpdateTargetId = "MessageId",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "onSuccess"

            },null))
            {
                @Html.TextBoxFor(x => x.Text, new { id = "textBoxId" });
                <input type="submit" value="Process" class="btn btn-primary" />
            }            
        </div>
    </div>
    <script type="text/javascript">
        (function () { console.log("Start page"); })();        
    </script>
</div>

@Ajax.ActionLink("GroupUpdater", "Groups", "Group", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "groupsId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
}, new { hidden = "hidden", id = "groupUpdaterId" })


@Ajax.ActionLink("MessageUpdater", "GroupUnreadMessages", "Message", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "MessageId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.InsertAfter,
}, new { hidden = "hidden", id = "messageUpdaterId" })

@section scripts
{
    <script type="text/javascript">
        function onSuccess(){
            document.getElementById("textBoxId").value = "";
        }
    </script>

<script type="text/javascript">
        (function groupUpdater() {
            document.getElementById("groupUpdaterId").click();
            document.getElementById("messageUpdaterId").click();
            setTimeout(groupUpdater, 5000);
        })();
</script>

}


