@model BusinessLogic.DTO.Message.SendMessageViewModel
@{
    ViewBag.Title = "GroupMessages";
}

<h2>GroupMessages</h2>
<div class="row">
    <div id="groupsId" class="col-sm-3 col-lg-3">

        @Html.Action("Groups", "Group", new { area = "" })

    </div>

    <div  class="col-sm-6 col-lg-6">
        <div id="MessageId">

        </div>
        <div>
            @using (@Ajax.BeginForm("SendMessage", "Message", new { area = "" }, new AjaxOptions
            {
                UpdateTargetId = "MessageId",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "onSuccess"

            },null))
            {
                @Html.TextBoxFor(x => x.Text, new { id = "textBoxId" });
                <input type="submit" value="Process" class="btn btn-primary" />
            }            
        </div>
    </div>


    <div class="col-sm-3 col-lg-3">
        @Ajax.ActionLink("friends out of group", "GetFriendsOutOfGroup", "Friends", new { area = "" },
               new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "friendsId"
               }, null)
        <div id="friendsId">

        </div>
    </div>

</div>

<br />
<br/>
<div>
    @Html.ActionLink("Leave group", "LeaveGroup", "Group", new { area = "" }, new { style = "margin-top:500px; margin-left:500px;" })
</div>


@Ajax.ActionLink("GroupUpdater", "Groups", "Group", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "groupsId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
}, new { hidden = "hidden", id = "groupUpdaterId" })


@Ajax.ActionLink("MessageUpdater", "GroupUnreadMessages", "Message", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "MessageId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.InsertAfter,
}, new { hidden = "hidden", id = "messageUpdaterId" })

@section scripts
{
    <script type="text/javascript">
        function onSuccess(){
            document.getElementById("textBoxId").value = "";
        }
    </script>

<script type="text/javascript">
        (function Updater() {
            document.getElementById("groupUpdaterId").click();
            document.getElementById("messageUpdaterId").click();
            setTimeout(Updater, 5000);
        })();
</script>

}


