@model BusinessLogic.DTO.Message.SendMessageViewModel
@{
    ViewBag.Title = "GroupMessages";
}

<h2>GroupMessages</h2>
<div class="row">
    <div id="groupsId" class="col-sm-3 col-lg-3">

        @Html.Action("Groups", "Group", new { area = "" })

    </div>


    <div class="col-sm-6 col-lg-6">
        <div id="MessageId">

        </div>
        <div>
            @using (@Ajax.BeginForm("SendMessage", "Message", new { area = "" }, new AjaxOptions
            {
                UpdateTargetId = "MessageId",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "onSuccess",
                OnBegin = "OnBegin",
                LoadingElementId = "LoadingId"

            }, null))
            {
                @Html.TextBoxFor(x => x.Text, new { id = "textBoxId" });
                <input type="submit" value="Process" class="btn btn-primary" />
            }

            <div>
                <input type="file" name="upload" id="uploadFile" /><br />
                <button id="uploadButtonId" hidden="hidden">Загрузить</button>
            </div>
            <a id="LoadingId" hidden="hidden">Loading</a>

        </div>
    </div>


    <div class="col-sm-3 col-lg-3">
        @Ajax.ActionLink("friends out of group", "GetFriendsOutOfGroup", "Friends", new { area = "" },
               new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "friendsId"
               }, null)
        <div id="friendsId">

        </div>
    </div>

</div>

<br />
<br />
<div>
    @Html.ActionLink("Leave group", "LeaveGroup", "Group", new { area = "" }, new { style = "margin-top:500px; margin-left:500px;" })
</div>


@Ajax.ActionLink("GroupUpdater", "Groups", "Group", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "groupsId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
}, new { hidden = "hidden", id = "groupUpdaterId" })


@Ajax.ActionLink("MessageUpdater", "GroupUnreadMessages", "Message", new { area = "" }, new AjaxOptions
{
    UpdateTargetId = "MessageId",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.InsertAfter,
}, new { hidden = "hidden", id = "messageUpdaterId" })

@section scripts
{
    <script type="text/javascript">
        function onSuccess() {
            document.getElementById("textBoxId").value = "";
        }
    </script>

    <script type="text/javascript">
        function OnBegin() {
            document.getElementById("uploadButtonId").click();
            document.getElementById("uploadFile").value = "";
        }
    </script>

    <script type="text/javascript">

        $('#uploadButtonId').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "Message")',
                    contentType: false,
                    processData: false,
                    data: data
                });
            }
        }
    });
    </script>

    <script type="text/javascript">
        (function Updater() {
            document.getElementById("groupUpdaterId").click();
            document.getElementById("messageUpdaterId").click();
            setTimeout(Updater, 5000);
        })();
    </script>

}
