@model KVBchat_ASP.Areas.Cabinet.Models.UserCabinetViewModel
@{
    ViewBag.Title = "Cabinet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cabinet</h2>

<div>
    <div>
        @Html.LabelFor(x => x.Balance):
        @Model.Balance
        @Html.DisplayTextFor(x => x.Balance)
    </div>
    <div>
        @Html.LabelFor(x => x.Card):
        @Html.DisplayTextFor(x => x.Card)
    </div>
    <div>
        @Html.LabelFor(x => x.CardExpirationDate):
        @Html.DisplayTextFor(x => x.CardExpirationDate)
    </div>
    <div>
        @Html.LabelFor(x => x.CardCVV):
        @Html.DisplayTextFor(x => x.CardCVV)
    </div>

    @if (ViewBag.User == true)
    {
        <div>@Html.ActionLink("Withdraw", "Withdraw", "Cabinet", new { area = "Cabinet" }, null)</div>
        <div>@Html.ActionLink("Deposit", "Deposit", "Cabinet", new { area = "Cabinet" }, null)</div>
        <div>@Html.ActionLink("Edit card", "EditCard", "Cabinet", new { area = "Cabinet" }, null)</div>
    }
</div>
